body {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
}

#itemList {
    border: 1px solid #ccc;
    padding: 5px 30px 5px 30px;
    min-height: 100px;
    margin-bottom: 15px;
    border-radius: 5px;

}

#itemInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#addBtn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#addBtn:hover {
    background-color: #0056b3;
}

li {
    padding: 5px;
    margin: 3px 0;
}